* {
    margin: 0px;
    padding: 0px;
    scroll-behavior:smooth;
  }

  
body{
    font-family: arial;
    font-size: 20px;
    background-color: rgb(245, 245, 245);
    scroll-behavior:smooth;
}

.container{
    width: 1282px;
    margin:20px auto;
    
    /*display: inline-block;*/
    position: absolute;
    scroll-behavior:smooth;
}

.nav{
    width: 130px;
    margin-top: 20px;
    margin-left: 50px;
    
    height: 1300px;
    
    float: left;
    position: fixed;
}

.report{
    width:1100px;
    background-color:rgb(238, 238, 238);
    border:1px solid black;
    border-radius:7px;
    box-shadow: 0px -1px 8px rgb(160, 160, 160);
    height:3700px;
    float: right;
    scroll-behavior: smooth; 
    overflow: hidden; 
}

.title{
    width:1099px;
    height:80px;
    margin:auto auto;
    border:1px solid rgb(160, 160, 160);
    border-radius:7px;
    box-shadow: 0px -1px 8px rgb(160, 160, 160);
    background-color: white;
    text-align: center;
    padding-top:50px;
}

.title p{
    font-size:30px;
    font-weight: 700;
}

.nav a:link{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 90px;
    height:30px;
    margin-top:18px;
    border-radius:5px;
    background-color:white;
    float: right;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    box-shadow: 0px 3px 10px rgb(150, 150, 150);
}

.nav a:visited{
    color:black;
}

.nav a:hover{
    transition-duration:0.5s;
    width: 110px;
    height:35px;
    margin-top:18px;
    border-radius:5px;
    background-color: orangered;
    float: right;
    font-size: 19px;
    color: aliceblue;
    font-weight: 550;
    line-height: 37px;
    text-align: center;
    box-shadow: 0px 5px 10px orangered;    
}

#bground{
    width:1100px;
    height: 280px;
    position: relative; 

}

#btitles{
    width: 100px;
    height: 80px;
    
    line-height:110px;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 600;
    
}

.bgline{
     width: 1000px;
     height:1px;
     margin-left:45px;
     background-color: gray;
}

#preconclude{
    width:1000px;
    height:140px;
    letter-spacing: 1px;
    margin-left: 50px;
    margin-top:40px;
    font-size: 18px;
    line-height: 30px;
}

#btrend{
    width:1100px;
    height:600px;
    position: relative;
}

#btrtitles{
    width: 100px;
    height: 80px;

    line-height:110px;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 600;
}

.btline{
    width: 1000px;
    height:1px;
    margin-left:45px;
    background-color: gray;
}

#pict{
    margin: 10px auto;
    width: 1000px;
    height:400px;
    
    border:1px solid rgb(199, 196, 196);
}

#pict-tip{
    margin:30px auto;
    width:1000px;
    height:60px;
  
    color:rgb(63, 63, 63);
    font-size: 17px;
}

#bhreview{
    width:1100px;
    height:700px;
    position: relative;
}

#bhrtitles{
    width: 100px;
    height: 80px;

    line-height:110px;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 600;
}

.bhline{
    width: 1000px;
    height:1px;
    margin-left:45px;
    background-color: gray;
}

.bhbground{
    width:1000px;
    height:600px;
    margin:10px auto;
}

.bhbground li{
    list-style: none;
    width:300px;
    height:180px;
    float:left;
    background-color: #fff;
    margin-top:10px;
    margin-left:15px;

}

.tx{
    margin:10px;
    width:50px;
    height:50px;
    float:left;
}

.yhname{
    margin:10px;
    width:180px;
    height:50px;
    float: left;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.yhreview{
   margin:5px auto;
   width: 280px;
   height:100px;
   clear: both;
   font-size: 13px;
   line-height: 15px;
   letter-spacing: 1px;
   overflow: hidden;
   text-overflow:ellipsis;
}

#bfeel{
    width:1100px;
    height:600px;
    position: relative;
}

#bftitles{
    width: 100px;
    height: 80px;

    line-height:110px;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 600;
}

.bfline{
    width: 1000px;
    height:1px;
    margin-left:45px;
    background-color: gray;
}

#picf{
    margin-top: 20px ;
    float: left;
    margin-left: 50px;  
    width: 500px;
    height:400px;
    
    border:1px solid rgb(199, 196, 196);
}

#picf-tip{
    margin-top: 50px;
    margin-left: 20px;
    width:400px;
    height:400px;
    padding: 15px;
    
    float: left;
    color:rgb(63, 63, 63);
    font-size: 18px;
}

#buser{
    width:1100px;
    height:600px;
    position: relative;
}

#butitles{
    width: 100px;
    height: 80px;

    line-height:110px;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 600;
}

.buline{
    width: 1000px;
    height:1px;
    margin-left:45px;
    background-color: gray;
}

#picsex{
    margin-top: 20px ;
    float: left;
    margin-left: 50px;  
    width: 480px;
    height:400px;
    
    border:1px solid rgb(199, 196, 196);
}

#picu{
    margin-top: 20px ;
    float: left;
    margin-left: 10px;  
    width: 500px;
    height:400px;
    
    border:1px solid rgb(199, 196, 196);
}

#bdata{
    width:1100px;
    height:800px;
    position: relative;
}

#bdtitles{
    width: 100px;
    height: 80px;

    line-height:110px;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 600;
}

.bdline{
    width: 1000px;
    height:1px;
    margin-left:45px;
    background-color: gray;
}

#picmt{
    margin:30px auto;  
    width:1000px;
    background-color: #fff;
    border:1px solid rgb(199, 196, 196);
}
#picm{
    margin:20px auto;
    width: 900px;
    height:400px;
    
    
}

#picm-tip{
    margin:20px auto;
   width:900px;
   height:200px;

   color:rgb(63, 63, 63);
    font-size: 17px;
}

.big{
    font-weight: 600;
}

#ptp:link{
    color:black;
    text-decoration: none;
}

#ptp:visited{
    color:black;
    text-decoration: none;
}

#ptp:hover{
    color:blue;
    text-decoration: none;
}